
@model IEnumerable<BarcodeVer1._0.Models.Course.Datum>


@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Courses</h2>
<div class="row">
    <!-- Column -->

    @{ foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <a class="card-title" href="~/Member/GetSynsMember/@item.id">@item.name [@item.id]</a>
                    </div>
                </div>
            </div>
        }
    }

    <!-- Column -->

</div>