
@model IEnumerable<object>
@{
    List<BarcodeVer1._0.Models.Course.Datum> lstcourse = Model.ToList()[0] as List<BarcodeVer1._0.Models.Course.Datum>;
}

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    if (Session["id"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<h2>Index</h2>
<div class="row">
    <!-- Column -->

    @{ foreach (var item in lstcourse)
        {

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <a class="card-title" href="">@item.name [@item.id]</a>
                    </div>
                </div>
            </div>
        }
    }

    <!-- Column -->

</div>