@model BarcodeVer1._0.Models.Attendance
<div>
    <form id="myForm" method="post" action="~/Attendance/WriteNote">
        @Html.HiddenFor(m => m.ID)


    
        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { @class = "shapestyle" })
            </div>
        </div>

        
        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel"/>
        <input type="submit" class="btn btn-success" value="Save" />
    </form>
</div>

