
@{
    ViewBag.Title = "CreateDate";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var day = DateTime.Now.Date;
    string str = day.ToString("dd/MM/yyyy");
}

<h2>ĐIỂM DANH @str</h2>

<ul id="myList">
</ul>

<input type="text" id="masv" />

<form method="post" action="~/Lesson/CreateDate">
    <div class="form-horizontal">
        <div class="form-group">
            <input class="form-control" type="password" hidden="hidden" id="mssv" name="data" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
    //item la du lieu se luu lai de xu ly
    var item = "";
    //sv la du lieu nhap vao
    var sv = "";
    //mang khoi tao de kiem tra du lieu
    var arr = [];
    //dung xu ly ham add
    var checkMSSV = false;
    var mssv = "";
    var name = "";
 //script xu ly chen them dong tren bang
function myFunction() {
    var node = document.createElement("LI");
    var textnode = document.createTextNode(sv);
    node.appendChild(textnode);
    document.getElementById("myList").appendChild(node);
}
//script xu ly luon focus textbox khi moi load trang
$(document).ready(function () {
    $(function () {
        $("#masv").first().focus();
    });
});
//script xu ly bat su kien moi lan nhap neu lon hon 7 ky tu thi xoa du lieu trong textbox
$("input[type=text]").keyup(function () {
    check();
});

//script xu ly khi nhan giu
$("input[type=text]").keypress(function () {
    check();
});

function check() {
    //kiem tra do dai cua ky tu nhap vao neu lon hon 7 thi xoa
    if ($("#masv").val().length >= 7) {

        
        datas($("#masv").val());

        //xoa du lieu trong textbox
        document.getElementById("masv").value = "";
    }
}
//ham xu ly neu co trong chuoi json tra ve thi luu lai khong thi bo
function add(flag,mssv,name)
{
    if (flag == true) {
        //kiem tra du lieu nhap vao da ton tai trong mang hay chua (==-1 la chua ton tai)
        if (arr.indexOf(mssv) == -1) {
            
            //them du lieu moi vao chuoi
            arr.push(mssv);
            item = item + mssv + " ";
            document.getElementById("mssv").value = $("#mssv").val() + " " + mssv;
            //xuat du lieu do len man hinh
            sv = name;
            myFunction();
        }

    }
   
}

//ham xu ly truyen vo kiem tra coi mssv co ton tai trong chuoi json k
function datas(mssv)
{
    checkMSSV = false;
    $.getJSON('/Member/ListStudent', function (json) {
        //voi moi phan tu trong chuoi json thi       
        $.each(json, function () {
            //gan bien id de kiem tra
            var id = this.id;
            //mssv truyen vao co ton tai trong chuoi json tra ra k
            if (mssv == id)
            {
                mssv = id;
                name = this.name
                checkMSSV = true;
            }
        })
        add(checkMSSV,mssv,name);
    })

}
    </script>
}